@model CMS.Models.Picture

@{
    ViewBag.Title = "Create";
}
  <div class="content">
    <div class="innercontent">
<h2>Uppload your picture to the site</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Picture</legend>
        @Html.HiddenFor(model => model.CatID, new { @Value = ViewBag.CatID})
            @Html.LabelFor(model => model.PicTitle)
            @Html.EditorFor(model => model.PicTitle)
            @Html.ValidationMessageFor(model => model.PicTitle)
            @Html.LabelFor(model => model.PicUrl)
            <select id="PicUrl" name="PicUrl">
            @Html.Action("test", "Home")            
            </select>
            @Html.LabelFor(model => model.PicAltText)
            @Html.EditorFor(model => model.PicAltText)
            @Html.ValidationMessageFor(model => model.PicAltText)
            @Html.LabelFor(model => model.PicDesc)
            @Html.EditorFor(model => model.PicDesc)
            @Html.ValidationMessageFor(model => model.PicDesc)
            @Html.LabelFor(model => model.PicPrio)
            @Html.EditorFor(model => model.PicPrio)
            @Html.ValidationMessageFor(model => model.PicPrio)
            <input type="submit" value="Create" />
    </fieldset>
}


    <button>@Html.ActionLink("Back to List", "Index")</button>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>
</div>
