@model CMS.Models.Category

@{
    ViewBag.Title = "Details";
}
  <div class="content">
    <div class="innercontent">
<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatPrio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatPrio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatDesc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Template.TempName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Template.TempName)
    </div>
        <button>@Html.ActionLink("Back to List", "Page", "Admin")</button>
        <button>@Html.ActionLink("Edit", "Edit", new { id=Model.CatID })</button>
</fieldset>
</div></div>