@model IEnumerable<CMS.Models.Category>

@{
    ViewBag.Title = "Index";
}

  <div class="content">
    <div class="innercontent">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatPrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Template.TempName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatPrio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Template.TempName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CatID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CatID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CatID })
        </td>
    </tr>
}

</table>
</div>
</div>