@model CMS.Models.Category

@section css{
    <link href="~/Content/@Model.Template.TempURL" rel="stylesheet" />
}

@{
    ViewBag.Title = "Index";
}
<div class="bigwrap">
<h1>@Html.DisplayFor(model => model.CatName)</h1>
<p>@Html.DisplayFor(model => model.CatDesc)</p>

@foreach (var video in Model.Videos)
{
    @Html.Partial("_VideoPartial", video)
}

@foreach (var text in Model.Texts)
{
    
    @Html.Partial("_TextPartial", text)
}

@foreach (var link in Model.Links)
{
    
    @Html.Partial("_LinkPartial", link)
}

@foreach (var picture in Model.Pictures)
{
    
    @Html.Partial("_PicturePartial", picture)
}
</div>