@model CMS.Models.Template

@{
    ViewBag.Title = "Details";
}
  <div class="content">
    <div class="innercontent">
<h2>Details</h2>

<fieldset>
    <legend>Template</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TempName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TempName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TempDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TempDesc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TempURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TempURL)
    </div>
    <button>@Html.ActionLink("Back to List", "Index")</button>
    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.TempID })</button>
    
</fieldset>

</div>'</div>