@model CMS.Models.Template

@{
    ViewBag.Title = "Edit";
}
  <div class="content">
    <div class="innercontent">
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Template</legend>

        @Html.HiddenFor(model => model.TempID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TempName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TempName)
            @Html.ValidationMessageFor(model => model.TempName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TempDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TempDesc)
            @Html.ValidationMessageFor(model => model.TempDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TempURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TempURL)
            @Html.ValidationMessageFor(model => model.TempURL)
        </div>

        
        <div class="centerbutton">
            <input type="submit" value="Save" />
            <button>@Html.ActionLink("Back to List", "Index", "Template")</button>
        </div>

    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div></div>