@model IEnumerable<CMS.Models.Template>

@{
    ViewBag.Title = "Index";
}

  <div class="content">
    <div class="innercontent">



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TempName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TempName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempURL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TempID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TempID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TempID })
        </td>
    </tr>
}
</table>
    <button>@Html.ActionLink("Create New", "Create")</button>

</div></div>