@model CMS.Models.Link

@{
    ViewBag.Title = "_LinkPartial";
}

<div class="wrap float-left">    
<h1>@Model.LinkTitle</h1>
    <br />
        <p>
         <a class="purelycss_elegance_button align_left color_teal hover_black size_large" href="@Model.LinkUrl">
         @Model.LinkText
         </a>
       </p>
       @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Link", new { id = Model.LinkID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Link", new { id = Model.LinkID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Link", new { id = Model.LinkID }, string.Empty)
        </text>
        } 
       <br />
              
</div>
<span class="clear-float"></span>
@*<h3>@Model.LinkTitle</h3>
<div>
    <a href="@Model.LinkUrl">@Model.LinkText</a>
    <p>
         @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Link", new { id = Model.LinkID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Link", new { id = Model.LinkID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Link", new { id = Model.LinkID }, string.Empty)
        </text>
        }
    </p>
</div>


*@