@model CMS.Models.Picture

@{
    ViewBag.Title = "_PicturePartial";
}


<div class="wrap float-left">
    @*<h1>@Model.PicTitle</h1>*@   
       <img src="@Model.PicUrl" alt="@Model.PicAltText" />
        <p>
         @Model.PicDesc
       </p>       
       <br />
       @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Picture", new { id = Model.PicID }, string.Empty)
        </text>
        }
</div>

@*<h3>@Model.PicTitle</h3>
<div>
    <img src="@Model.PicUrl" alt="@Model.PicAltText" />
    <p>
        @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Picture", new { id = Model.PicID }, string.Empty)
        </text>
        }
    </p>
</div>*@