@model CMS.Models.Picture

@{
    ViewBag.Title = "_PicturePartial";
}


<div class="Grid">
<img src="@Model.PicUrl" alt="" />
<article>
<h4>@Model.PicTitle</h4>
<p>@Model.PicDesc</p>
       @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Picture", new { id = Model.PicID }, string.Empty)
        </text>
        }
</article>
</div>

@*<h3>@Model.PicTitle</h3>
<div>
    <img src="@Model.PicUrl" alt="@Model.PicAltText" />
    <p>
        @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Picture", new { id = Model.PicID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Picture", new { id = Model.PicID }, string.Empty)
        </text>
        }
    </p>
</div>*@