@model CMS.Models.Text

@{
    ViewBag.Title = "_TextPartial";
}


<div class="wrap float-left">
    <h1>@Model.TextTitle</h1>       
    <br />
        <p>
         @Model.TextData
       </p>
       @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Text", new { id = Model.TextID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Text", new { id = Model.TextID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Text", new { id = Model.TextID }, string.Empty)
        </text>
        } 
       <br />       
</div>
@*
<h3>@Model.TextTitle</h3>

<div>
    <p>@Model.TextData</p>
    <p>
        @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Text", new { id = Model.TextID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Text", new { id = Model.TextID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Text", new { id = Model.TextID }, string.Empty)
        </text>
        }
    </p>
</div>

*@