@model CMS.Models.Video

@{
    ViewBag.Title = "_VideoPartial";
}


<div class="wrap float-left">
    <h1>@Model.VidTitle</h1>   
            <p>
         Video description: @Model.VidDesc
       </p>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/@Model.VidUrl" frameborder="0" allowfullscreen></iframe>   
    <br />
       @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Video", new { id = Model.VidID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Video", new { id = Model.VidID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Video", new { id = Model.VidID }, string.Empty)
        </text>
        } 
       <br />       
</div>

@*<h3>@Model.VidTitle</h3>
<div>
    <iframe class="youtube" width="560" height="315" src="http://www.youtube.com/embed/@Model.VidUrl"></iframe>
    <p>Video description: @Model.VidDesc</p>
    <p>
        @if (Request.IsAuthenticated)
        {
            <text>
                @Html.ActionLink("Edit", "Edit", "Video", new { id = Model.VidID }, string.Empty) |
                @Html.ActionLink("Details", "Details", "Video", new { id = Model.VidID }, string.Empty) |
                @Html.ActionLink("Delete", "Delete", "Video", new { id = Model.VidID }, string.Empty)
            </text>
        }
    </p>
</div>

*@
