@model CMS.Models.Video

@{
    ViewBag.Title = "_VideoPartial";
}

<div class="Grid">
<iframe src="http://www.youtube.com/embed/@Model.VidUrl"><p>Your browser does not support iframes.</p></iframe>
<article>
<h4>@Model.VidTitle</h4>
<p>@Model.VidDesc</p>
       @if (Request.IsAuthenticated) {
        <text>
            @Html.ActionLink("Edit", "Edit", "Video", new { id = Model.VidID }, string.Empty) |
            @Html.ActionLink("Details", "Details", "Video", new { id = Model.VidID }, string.Empty) |
            @Html.ActionLink("Delete", "Delete", "Video", new { id = Model.VidID }, string.Empty)
        </text>
        } 
</article></div>

@*<h3>@Model.VidTitle</h3>
<div>
    <iframe class="youtube" width="560" height="315" src="http://www.youtube.com/embed/@Model.VidUrl"></iframe>
    <p>Video description: @Model.VidDesc</p>
    <p>
        @if (Request.IsAuthenticated)
        {
            <text>
                @Html.ActionLink("Edit", "Edit", "Video", new { id = Model.VidID }, string.Empty) |
                @Html.ActionLink("Details", "Details", "Video", new { id = Model.VidID }, string.Empty) |
                @Html.ActionLink("Delete", "Delete", "Video", new { id = Model.VidID }, string.Empty)
            </text>
        }
    </p>
</div>

*@
