@model CMS.Models.Video

@{
    ViewBag.Title = "Create";
}
  <div class="content">
    <div class="innercontent">
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Video</legend>
        @Html.HiddenFor(model => model.CatID, new { @Value = ViewBag.CatID})
            @Html.LabelFor(model => model.VidTitle)

            @Html.EditorFor(model => model.VidTitle)
            @Html.ValidationMessageFor(model => model.VidTitle)

            @Html.LabelFor(model => model.VidUrl)

            @Html.EditorFor(model => model.VidUrl)
            @Html.ValidationMessageFor(model => model.VidUrl)

            @Html.LabelFor(model => model.VidDesc)

            @Html.EditorFor(model => model.VidDesc)
            @Html.ValidationMessageFor(model => model.VidDesc)

            @Html.LabelFor(model => model.VidPrio)

            @Html.EditorFor(model => model.VidPrio)
            @Html.ValidationMessageFor(model => model.VidPrio)
    

     
            <input type="submit" value="Create" />
      
    </fieldset>
}

    <button>@Html.ActionLink("Back to List", "Index")</button>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>
</div>