@model CMS.Models.Text

@{
    ViewBag.Title = "Delete";
}

    <div class="content">
    <div class="innercontent">

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Text</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TextTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TextData)
    </div>
    <div class="display-fielddelete">
        @Html.DisplayFor(model => model.TextData)
    </div>
@using (Html.BeginForm()) {
  
        <input type="submit" value="Delete" />
    
        <button>@Html.ActionLink("Back to List", "Index")</button>
    
}
</fieldset>
</div>
</div>
