@model CMS.Models.Text

@{
    ViewBag.Title = "Details";
}
    <div class="content">
    <div class="innercontent">

<h2>Details</h2>

<fieldset>
    <legend>Text</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TextTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TextData)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextData)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.CatName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CatName)
    </div>

    <button>@Html.ActionLink("Edit", "Edit", new { id = Model.TextID })</button>
    <button>@Html.ActionLink("Back to List", "Index")</button>
    </fieldset>
   </div>
   </div>
