@model IEnumerable<CMS.Models.Text>

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="innercontent">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TextTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CatName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TextTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CatName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TextID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TextID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TextID })
        </td>
    </tr>
}

</table>
</div>
</div>
