<div class="content">
    <div class="innercontent">
            <hgroup class="title">
                <h1>You are inside the @ViewBag.Title!</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <ol class="round">
                <li class="one">
                    <h5>Configuration</h5>
                    Configure your site @Html.ActionLink("here", "Index", "Admin").
                </li>

                <li class="two">
                    <h5>Pages</h5>
                    Create or edit pages @Html.ActionLink("here", "Page", "Admin").
                    Include new template @Html.ActionLink("here", "Index", "Template").
                </li>

                <li class="three">
                    <h5>Content</h5>
                    Load your pages with content @Html.ActionLink("here", "ContentNoID", "Admin").
                    Upload new images @Html.ActionLink("here", "Imagenew", "Home").
                </li>
            </ol>
  </div></div>
