@model CMS.Models.Picture

    <fieldset class="halfwidth">
        <legend>Picture content</legend>

        <div class="editor-label">
            <label>Title --> @Html.DisplayFor(model => model.PicTitle)</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PicTitle)
            </div>
        <div class="editor-label">
            <label>Picture descriprion</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PicDesc)
        </div>
        <div class="editor-field">
            <img src="@Model.PicUrl" alt="@Model.PicAltText" width="20%" height="20%" />
        </div>
        <p>
            <button>@Html.ActionLink("Edit", "Edit", "Picture", new { id = Model.PicID }, string.Empty)</button>
            <button>@Html.ActionLink("Details", "Details", "Picture", new { id = Model.PicID }, string.Empty)</button>
            <button>@Html.ActionLink("Delete", "Delete", "Picture", new { id = Model.PicID }, string.Empty)</button>
        </p>
    </fieldset>