@model CMS.Models.Link

    <fieldset class="halfwidth">
        <legend>Link content</legend>

        <div class="editor-label">
            <label>Link text --> @Html.DisplayFor(model => model.LinkText)</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkText)
            </div>
        <div class="editor-label">
            <label>URL</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkUrl)
        </div>

        <p>
            <button>@Html.ActionLink("Edit", "Edit", "Link", new { id = Model.LinkID }, string.Empty)</button>
            <button>@Html.ActionLink("Details", "Details", "Link", new { id = Model.LinkID }, string.Empty)</button>
            <button>@Html.ActionLink("Delete", "Delete", "Link", new { id = Model.LinkID }, string.Empty)</button>
        </p>
    </fieldset>