@model CMS.Models.Video

    <fieldset class="halfwidth">
        <legend>Video content</legend>

        <div class="editor-label">
            <label>Title --> @Html.DisplayFor(model => model.VidTitle)</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidTitle)
            </div>
        <div class="editor-label">
            <label>Description</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VidDesc)
        </div>
        <div class="editor-field">
            <iframe width="180" height="100" src="http://www.youtube.com/embed/@Model.VidUrl"></iframe>
        </div>
        <p>
            <button>@Html.ActionLink("Edit", "Edit", "Video", new { id = Model.VidID }, string.Empty)</button>
            <button>@Html.ActionLink("Details", "Details", "Video", new { id = Model.VidID }, string.Empty)</button>
            <button>@Html.ActionLink("Delete", "Delete", "Video", new { id = Model.VidID }, string.Empty)</button>
        </p>
    </fieldset>