@model CMS.Models.Category

@{
    ViewBag.Title = "Admin Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    @Html.Partial("_AdminHeaderPartial")
}

<section class="content">
    <h3>Add content on: @Html.DisplayFor(model => model.CatName)</h3>
    <div class="halfwidth">

        <div class="editor-label">
            <label>Submit new content</label>
        </div>
        <p>
            <button>@Html.ActionLink("Text", "Create", "Text", new { id = Model.CatID }, string.Empty)</button>
            <button>@Html.ActionLink("Picture", "Create", "Picture", new { id = Model.CatID }, string.Empty)</button>
            <button>@Html.ActionLink("Video", "Create", "Video", new { id = Model.CatID }, string.Empty)</button>
            <button>@Html.ActionLink("Link", "Create", "Link", new { id = Model.CatID }, string.Empty)</button>
        </p>
    </div>

<hr class="clear"/>

<h3>Edit TEXT on: @Html.DisplayFor(model => model.CatName)</h3>

@foreach (var text in Model.Texts)
{
    
    @Html.Partial("_AdminTextPartial", text)
}

<hr class="clear"/>

<h3>Edit PICTURE on: @Html.DisplayFor(model => model.CatName)</h3>


@foreach (var picture in Model.Pictures)
{
    
    @Html.Partial("_AdminPicturePartial", picture)
}

<hr class="clear"/>

<h3>Edit VIDEO on: @Html.DisplayFor(model => model.CatName)</h3>

@foreach (var video in Model.Videos)
{
    
    @Html.Partial("_AdminVideoPartial", video)
}

<hr class="clear"/>

<h3>Edit LINK on: @Html.DisplayFor(model => model.CatName)</h3>

@foreach (var link in Model.Links)
{
    
    @Html.Partial("_AdminLinkPartial", link)
}
</section>